{% extends "email/base.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
    <h2>Password Reset Request</h2>
    <p>Hello,</p>
    <p>We received a request to reset the password for your Tarang account. If you made this request, please click the button below to set a new password:</p>
    
    <div style="text-align: center; margin: 25px 0;">
        <a href="{{ reset_url }}" class="button" style="color: #ffffff;">Reset Password</a>
    </div>
    
    <p>Or copy and paste this link into your browser:</p>
    <p><a href="{{ reset_url }}" style="word-break: break-all;">{{ reset_url }}</a></p>
    
    <p>This link will expire in 1 hour for security reasons.</p>
    
    <p>If you did not request a password reset, please ignore this email or contact support if you have any concerns.</p>
    
    <p>Best regards,<br>The Tarang Team</p>
{% endblock %}
